body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #a8adb366;
    background-size: cover;
}

header, nav, main, footer {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
   padding: 20px; 
    background-color: #2873bd3d;
    
}



button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px; /* Añade un margen a la derecha */
    cursor: pointer;
    border: none; /* Sin borde */
}

h1 {
    font-family:'Franklin Gothic Medium'; 
    color: #4CAF50; /* Cambia el color a verde */
    margin-left: 60px;
}

nav {
    background-color: #2873bd29;

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
   padding: 20px;  
}
main {  
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(fotos/banner.jpg);

  
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2873bd3d;
}
