#formulario-registros {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 50%; 
    margin: auto;
    margin-top: 20px;
}

#formulario-registros label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px ;
}


#formulario-registros .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



#formulario-registros input[type="text"], 
#formulario-registros input[type="password"], 
#formulario-registros select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;  
}

#formulario-registros input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 4px 2px;
    font-size: 16px;
}

#formulario-registros input[type="submit"]:hover {
    background-color: #4da552;
}
