body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(eo.jpg);

}



header, nav, main, footer {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2873bda7;
    
}


button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none; /* Sin borde */
}

h1 {
    font-family:'Franklin Gothic Medium'; 
    color: #4CAF50; /* Cambia el color a verde */
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
    background-color: #2873bda7;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2873bda7;
}
