body {
    display: flex;
    flex-direction: column;
   /* align-items: center;
    justify-content: space-between;
    */height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(fotos/banner.jpg);
    background-size: cover;
   
}
header {
    display: flex;
      justify-content: space-between;
    /* justify-content: space-around; */
    width: 100%;
    background-color: rgb(165, 162, 162);

}

header #titulo h1 {
    margin-top: 20%;
    margin-inline-start: auto;
    font-family:'Franklin Gothic Medium'; 
  font-size: xx-large;
  color: rgb(76, 141, 11);
 
}

header #titulo {
    margin-right: 15%;
}

h2 {
    margin-left: 30%;
    font-style: oblique;
}

#logout button {
    margin-top: 75%;
    margin-inline-start: -75%;
    border-radius: 30%;
    border-style: groove;
    font-size: larger;
}

#logout button:hover {
    background-color: red;
}
/* 
aside button {
    font-size: xx-large;
    border-style: ridge;
    border-radius: 20%;
    margin-top: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside #correccion button { 
    border-top-color: red;
}

aside #examen button {
    
    border-top-color: greenyellow;
}

 aside {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}

section button {
    font-size: xx-large;
    border-color: antiquewhite;
    border-top-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 20%;
    margin-top: 30%;
} */



main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(175, 177, 174, 0.768);
    height: 100%;
   
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(175, 177, 174, 0.919);
}



 nav { 
    background-color: rgba(177, 174, 174, 0.945);

} 

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
   padding: 20px;  
   text-decoration: none;
}

nav ul button {
    font-size: xx-large;
    border-color: antiquewhite;
    border-top-color: aqua;
    border-radius: 5px;
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

nav ul button:hover{
background-color: chartreuse;
}
