body {
    display: flex;
    flex-direction: column;
   /* align-items: center;
    justify-content: space-between;
    */height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(fotos/R.jpg);
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: beige;
}
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: chocolate;
}
.section {
    display: flex;
    flex-direction: column;
    columns: 1;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: cadetblue;
}
