body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(fotos/R.jpg);
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: beige;
}
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: chocolate;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: cadetblue;
}
